body{
    background-color: azure;
    text-align: center;
}
h1{
    text-decoration: underline;
    color: darkblue;
    font-size: 80px;
}
h2{
    color: darkcyan;
    font-size: 50px;
}
#image{
    width: 450px;
    height: 400px;
    
}
p{
    font-size: 30px;
}